/*
SELEKTOR {
    WŁAŚCIWOŚĆ: WARTOŚĆ
}
*/
html{
    scroll-behavior: smooth;
}
body {
    background: rgba(117, 147, 180, 0.726);
}
nav {
    border: 2px dashed rgb(236, 129, 68);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    position: fixed;
    width: calc(100%-40px);
    background: rgba(255, 253, 253);
   /* box-shadow: 0 0 50px black;*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#aboutme, #projects, #contact{
    border: 2px dashed blue;
    margin-top: calc(1.5rem + 30px);
}

.navul {
  /*  border: 2px dashed blue;*/
    list-style: none;
    padding:0;
    margin:0;
    display:flex;
}

.navul li{
    /*border: 5px solid rgb(155, 25, 167);*/
    margin-left: 20px;
}
.bodyheader{
    border: 2px dashed rgb(191, 85, 205);
    text-align: center;
}
img {
    max-width:70%;
}
h1{
    margin-bottom: 0;
}
p{
    margin-top: 0;
}
.bodyheader p{
    border: 2px dashed rgb(228, 21, 138);
    padding: 0 10%;
}
h2{
    margin-bottom: 0;
}
main, article{
    border: 2px dashed burlywood;
    max-width: 1200px;
    margin: auto;
    padding:5vw;
}
footer{
    background-color: rgb(255, 255, 255);
padding:2.5vw;
color: rgb(104, 231, 188);
}
a{
    text-decoration: none;
    color: inherit;
}

/*hamburger*/
